<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../style.css">
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <title>Task 1</title>
</head>

<body>
   <div id="app">
      <input v-model="login" placeholder="Логін">
      <input type="password" v-model="password" placeholder="Пароль">
      <button @click="checkLogin">Увійти</button>
      <div v-if="loginStatus" :class="messageClass">{{ loginMessage }}</div>
      <div v-if="showSmile">😊</div>
   </div>

   <script>
      const { createApp } = Vue;

      createApp({
         data() {
            return {
               userLoginPassword: [
                  {
                     login: 'Іван',
                     password: '1111'

                  }
               ],
               login: '',
               password: '',
               loginMessage: '',
               showSmile: false,
               loginStatus: false,
            };
         },
         computed: {
            messageClass() {
               return {
                  'blue': this.login === 'Іван',
                  'red': this.login !== 'Іван'
               };
            }
         },
         methods: {
            checkLogin() {
               let user = this.userLoginPassword.find(user => user.login === this.login && user.password === this.password)
               if (user) {
                  this.showSmile = true;
                  this.loginMessage = '';
               }
               else {

                  this.showSmile = false;
                  this.loginStatus = true;
                  this.loginMessage = 'Невірний логін або пароль';
               }
            }
         }
      }

      ).mount('#app');
   </script>

   <style>
      .red {
         color: red;
      }

      .blue {
         color: blue;
      }
   </style>
</body>

</html>